{%load static%}
<html>

<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/css/3.2.0/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/css/3.2.0/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog5.css'%}">
<title>Angels</title>
<link rel = "icon" href =  "{% static 'css/images/logos.png'%}" type = "image/x-icon">
</head>


<div style=" background-position:absolute;background-size:cover;position:0% 0%;
          background-image:url('{% static 'css/images/rose.jpg'%}');height:900px;width:1480px;position:absolute" >
<body>
<center> <h1 style="font-family:Lucida Handwriting;font-size:70px"><img id="logo" src="{% static 'css/images/logo.png'%}">Angels</h1></center>
      <div id="head">
          
           <div id="fastop"><a href="{% url 'manage:registered'%}">Designs</a></div>
           <div id="fastop"><a href="{% url 'manage:bookings' %}">Bookings</a></div>
           <div id="fastop"><a href="{% url 'manage:appointments'%}">Add Appointment</a></div>
           <div id="fastop"><a href="{% url 'manage:log'%}">Logout</a></div> 
           
           <div id="fastop">Hi, {{request.user.first_name}}</div>
       </div>
      <center>
      
          <div id="shift"> 
          <form method="POST" action=" ">
          {% csrf_token%}
          <center>  
            
            <h3 style="margin-left:60%">Full Name</h3>
            <input type="text" style="width:85%; margin-left:70%;height:4%" name="txt"></input> <br>
            <h3 style="margin-left:60%">Design</h3>
            <select type="option" style="width:85%;margin-left:70%;height:4%" name="des">
               {% for i in desi%}
               <option id="booking" input value="{{i.Design}}">{{i.Design}}[{{i.id}}]</option> 
           
               {% endfor %}
               </select>
            <br>
            <h3 style= "margin-left:73%;">Appointment Date</h3>
            <input type="date" style="width:85%; margin-left:70%;height:4%" name="date"></input> <br>         
            <h3 style= "margin-left:73%">Appointment Time</h3>
            <input type="time" style="width:85%; margin-left:70%;height:4%" name="time"><br><br>
            
            <button style="margin-left:75%;height:4%" type="submit" value="submit" class="form-control btn btn-primary">Book</button>
          </center>  
           
            
            
            </form>
            </div>
      </center> 
      </div>
      {% ifequal error is "No"%}
      <script>
        alert("form filled successfully")
      </script>
      {% endifequal %}
     </body>
     </html>    
    <!-- 
            </select>!-->