#head{
    
    height:10%;
    width:1400px;
    background-color:rgb(246, 13, 91);
}

#fastop{
    font-size: 35px;
    color:peachpuff;
    float:left; 
    position: relative;
    padding:12px;
    margin-right:55px;
    margin-left:95px;
}
h1{
    font-size: 70px;
    color: rgb(206, 0, 120);
    margin-top:3%;
    font-family:Lucida Handwriting;
}
#image{
    width:500px;
    height:600px;
}
#intro{
    font-size:85px;
    font-family:emoji;
    color:rgb(206, 0, 120);
    float:right;
    position: relative;
    margin-top:15%;
    margin-right:9%;
    margin-left: 3%;
    text-align: center;
}
#small{
    font-size:90px;
    color:green;
    float:right;
    position: relative;
}
#b{
    background-color:cornsilk;
}
#logo{
    width:10%;
    height:30%;
    margin-left:10%;
   
    position: relative;
}
h2{
    margin-left:2%;
    font-size: 55px;
    font-family: emoji;
}
 #text{
    margin-left:2%;
    font-family:emoji;
    font-size: 45px;
    color:grey
 }
#imgabt{
    float:right;
    height:250px;
    width:350px;
    margin-top:10px;
}
#logos{
    height:10%;
    width:5%;
    border-radius:60%;
}