{%load static%}
<html>
<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/css/3.2.0/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/css/3.2.0/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog5.css'%}">
<title>Angels</title>
<link rel = "icon" href =  "{% static 'css/images/logos.png'%}" type = "image/x-icon">
</head>
<body id="b">
<center> <h1><img id="logo" src="{% static 'css/images/logo.png'%}">Angels</h1></center>
      <div id="head">
           <div id="fastop"><a href="{% url 'manage:registered'%}">Designs</a></div>
           <div id="fastop"><a href="{% url 'manage:bookings' %}">Bookings</a></div>
            <div id="fastop"><a href="{% url 'manage:ViewBookings' %}">View Bookings</a></div>
           <div id="fastop"><a href="{% url 'manage:log' %}">Logout</a></div>
            
       </div>

       
          <div id="ff"> 
            <form method="POST" >{% csrf_token%}
            {{form.as_p}}
            <a href="{% url 'manage:ViewBookings'%}"><button type="submit" value="submit" placeholder="Submit">Submit</button></a>
             </div>

             <h3>Payment method</h3>
             1.SBI Card<input type="radio" value="SBI Card" name="SBI Card"><br>
             2.Master Card<input type="radio" value="MasterCard" name="Master Card"><br>
             3.Cash<input type="radio" value="Cash Payment" name="Cash">
           </form>
     </body>
     </html>    