{%load static%}
<html>
<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog2.css' %}">
<title>Angels</title>
<link rel = "icon" href =  "{% static 'css/images/logos.png'%}" type = "image/x-icon">
</head>

<body id="back">
   <center> <h1><img id="logo" src="{% static 'css/images/logo.png'%}">Beautiful Creations</h1></center>
      <div id="head">
           <div id="fastop"><a href="{% url 'manage:login'%}">Home</a></div>
           <div id="fastop"><a href="{% url 'manage:about' %}">About us</a></div>
           <div id="fastop"><a href="{% url 'manage:contact'%}">Contact-us</a></div>
           <div id="fastop"> <a href="{% url 'manage:log'%}">User login</a></div>     
       </div>
  <center>
  
    
     <div id="login">
     <form>
     <h2 id="sign">Sign up</h2><br>
        <h2>Email-Id</h2>
       <input id="fast" type="email" name="email" size=42px required><br><br>
       <h2>Password</h2>
      <input id="fast" type="password"  name="password" size=42px required><br><br>
       <a href="{% url 'manage:registered'%}"><button id="option" type="submit" value="submit">Submit</a></button>
        <a href="{% url 'manage:new'%}"><button id="option" type="button" name="Login" value="Login">New User</a></button>       
    </form>
    
    </div>
</body>
</html>