{%load static%}
<html>
<head>
   
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/css/3.2.0/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/css/3.2.0/bootstrap-theme.min.css">
   <link rel="stylesheet" href="{% static 'css/blog3.css'%}">
   <title>Angels</title>
<link rel = "icon" href =  "{% static 'css/images/logos.png'%}" type = "image/x-icon">
</head>

<body id="back">
<center> <h1><img id="logo" src="{% static 'css/images/logo.png'%}">Beautiful Creations</h1></center>
      <div id="head">
           <div id="fastop"><a href="{% url 'manage:login'%}">Home</a></div>
           <div id="fastop"><a href="{% url 'manage:about' %}">About us</a></div>
           <div id="fastop"><a href="{% url 'manage:contact'%}">Contact-us</a></div>
           <div id="fastop"> <a href="{% url 'manage:log'%}">User login</a></div>     
       </div>

<form> 
<img id="imm" src="{% static 'css/images/logos.png'%}"><br>

<h3>FirstName</h3>
<input id="fast"type="text" name="Firstname" size=42px required>
<h3>LastName</h3>
<input id="fast" type="text" name="Lastname" size=42px required>
<h3>Email</h3>
<input id="fast" type="text" name="Email" size=42px required>
<h3>Password</h3>
<input id="fast" type="password"size=42px required>
<h3>Phone-number</h3>
<input id="fast" type="text"  size=42px required><br><br>
<a href="{% url 'manage:registered'%}"><button  type="submit" name="submit" value="submit">Submit</a></button>

</form>


</body>
</html>