#head{
    
    height:8%;
    width:1550px;
    background-color:rgb(246, 13, 91);
}
#fastop{
    font-size: 25px;
    color:peachpuff;
    float:left; 
    position: relative;
    padding:5px;
    margin-right:4%;
    margin-left: 4%;
}
#logo{
    width:10%;
    height:20%;
    margin-left:10%;
    position: relative;
}
#d{
    float:left;
    margin-top:0%;
    width:500px;
    height:500px;  
    margin-right:10%;
}
#design{
    border-radius:50%;
    height:330px;
    width:220px;
    float:left;
    position:relative;
   
    margin-left:9%;
    margin-bottom: 15%;
    margin-right:6%;
    margin-top:10%;
}
#des{
  
    border-radius:50%;
    float:right;
    height:43%;
    margin-left:88%;
    width:29%;
    margin-right:28%;
    position: relative;
    padding-top: 3%;
    margin-top:1px;
}
#dess
{
    float:right;
 margin-top:1%;
 width:550px;
 height:550px;
 
 margin-left:10%;
}
#left
{
   width:80px;
  
    margin-left:6%;
    color:black;
    font-family: emoji;
    font-size: 84%;
}
#right
{
    font-size: 84%;
    width:80px;
    float:right;
    margin-right:29%;
    color:black;
    font-family: emoji;
   
}
#b{
    background-color:cornsilk;
}
#s{
    color:fuchsia;
    font-family: emoji;
}
#logos
{
    height:10%;
    width:5%;
    border-radius:60%;
}
    
h1{
        font-size: 70px;
        color: rgb(206, 0, 120);
        margin-top:3%;
        font-family:Lucida Handwriting;
    }
    #row::after{
        content:" ";
        clear:both;
        display:table;
    }